.body{
    align-content: center;
    background-color: #F9F9F9;

}

h1{
    align-self: left;
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50pt;
    color: red;

}