body{
    background-color: #F9F9F9;
}


//titulo

h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 40pt;
    margin-left: 15px;
}

.new-task{
    background-color: #DBD8CE;
    border: none;
    box-shadow: 000000;
    border-radius: 18px;
    margin-left: 15px;
    height: 40px;
    width: 400px;
    text-align: justify;
    padding-left: 20px;
}

.add{
  background-color: #C9B0DE;
  height: 40px;
  width: 200px;
  margin-left: 20px;
  border-radius: 18px;
  border-style:  none;
  color: #F9F9F9;
  font-weight: 300;
  cursor: pointer;

  &:hover{
    background-color: #AE9DBB;
  }
}

.add-task {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #C9B0DE;
  color: white;
  border: none;
  border-radius: 2rem;
  padding: 0.7rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

//segmented control

.tabs {
  display: flex;
  justify-content: left;
  gap: 2rem;
  border-bottom: 2px solid #ccc;
  margin-top: 20px;
  padding-bottom: 0.5rem;
  margin-left: 10px;
 
  .tab {
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    position: relative;
    padding: 0.5rem 0;
    cursor: pointer;
    width:300px;

    &.active::after {
      content: "";
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      right: 0;
      height: 3px;
      background-color: black;
      border-radius: 2px;
    }
  }
}

.completar-btn {
  margin-left: 1rem;
  background-color:none;
  color: white;
  border: black;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.contador-all{
  background-color: #F4A67F;
  width: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.contador{
  background-color: #89E6A7;
  width: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}